body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a8a8a8;
}
.container {
    justify-content: center;
    margin: 20px;
    background-color: lightblue;
    padding: 5px;
    border: 2px solid;
    border-radius: 3px;
}
.container {
    width: 75%;
    margin: 20px;
    background-color: lightblue;
    padding: 5px;
    border: 2px solid;
    border-radius: 3px;
}
.button {
    display: block;
    font-weight: 100;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 30px;
    width: 17%;
    font: 14px Arial, sans-serif;
    color: #9d9d9d;
    background-color: #4d4d4d;
    transition-duration: 0.5s;
    text-align: center;
    padding: 1px 1px;
    letter-spacing: 10x;
}
.button:hover {
    color: #241c15;
    background-color: lightblue;
}
h1 {
    font: 40px Arial, sans-serif;
    color: rgb(95, 94, 94);
    margin-bottom: 0px;
}
h2 {
    font: 20px Helvetica, sans-serif;
    text-align: center;
}
.option-buttons {
    position: absolute;
    left: 300px;
    right: 500px;
    top: 35px;
}