body {
    background-color: rgb(180, 235, 240);

}

h1 {
    font-family: "Bodoni Moda", sans-serif;
    font-size: 55px;
    margin-top: -5px;
}

h2 {
    font-family: "Sofia", sans-serif;
    font-size: 35px;
    margin-top: -60px;
}

h3 {
    font-family: "Beth Ellen", sans-serif;
    font-size: 35px;
    margin-top: -25px;
}

h4 {
    font-family: "Bacasime Antique", sans-serif;
    font-size: 35px;
    margin-top: -15px;
    margin-left: 15px;
}

h5 {
    font-family: "Calligraffitti", sans-serif;
    font-size: 40px;
    margin-top: -5px;
    color: rgb(204, 255, 251);
}

h6 {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 20px;
    margin-top: -60px;
    width: 400px;
}

#breakfast {
    background-color: rgb(117, 209, 209);
    border-radius: 50px;
    border-width: 15px;
}

.column {
    float: left;
    width: 33.33%;

}

.row:after{
    content: "";
    display: table;
    clear: both;
}