<!DOCTYPE html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>TAs</h1>
    <% for (var i in ingredients) {%>
    <p>Name: <%=ingredients[i].ingred_name%><p>
    <% } %>
</body>
