<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../cashier.css">
        <title>Point of Sale</title>
    </head>

    <body>
        <div class="pos-container">
            <div class="order">
                <h2>Order</h2>
                <ul id="order-items">
                    <!-- Items will be added here dynamically -->
                </ul>
                <p>Total: $<span id="total-price">0.00</span></p>
                <button id="submit-button">Submit</button>
                <button id="delete-button">Delete</button>
            </div>
            <div class="menu">
                <h2>Menu</h2>
                <ul id="menu-items">
                    <li data-name="Item 1" data-price="5">Item 1 - $5.00</li>
                    <li data-name="Item 2" data-price="7">Item 2 - $7.00</li>
                    <li data-name="Item 3" data-price="9">Item 3 - $9.00</li>
                </ul>
            </div>
        </div>
        <script src="../CashierScript.js"></script>
    </body>
</html>