<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
        <link rel="stylesheet" href="../landing.css">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" -->
            <!-- integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Bodoni Moda' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Beth Ellen' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Bacasime Antique' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Fuzzy Bubbles' rel='stylesheet'>
    </head>
    
    <body>
        <div id="google_translate_element"></div>

        <script type="text/javascript">
        function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
        </script>

        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

        <div class="home-screen">
        <center>
            <button type="button" onclick="refresh()">Refresh</button>
            <br><br>

            <div class="option-buttons">
                <center>
                <a href="login_screen.ejs"><h3 style="font-size: 20px; margin-top: 10px;">Login</h3></a>
                </center>
            </div>
            <div class="option-buttons">
                <center>
                <a href="manager_screen/manager_screen.ejs"><h3 style="font-size: 20px; margin-top: 10px;">Manager</h3></a> 
                </center>
            </div>
            <div class="option-buttons">
                <center>   
                <a href="cashier/"><h3 style="font-size: 20px; margin-top: 10px;">Cashier</h3></a>  
                </center>
            </div>
            <br>
            <h1> <center> SWEET PARIS </center> </h1>
            <h2> <center> ---- creperie & cafe ---- </center> </h2>
            <br>
            <h3> <center> Menu </center> </h3>
            
        </center>
        </div>

        <div id="border">
            <h4> SEASONAL </h4>
            <div class="row">
                <div class="column">
                    <center>
                    <h5> <center> Kalins Krepe </center> </h5>
                    <h6> <center> a local customer favorite: your choice of fried chicken or beef with shredded cheese, topped with poblano sauce & sour cream </center></h6>
                    </center>
                </div>
                <div class="column">
                    <center>
                    <h5> <center> Oreo Cookies n Cream </center> </h5>
                    <h6> <center> oreo cookie crumbles and vanilla cream filling </center> </h6>
                    </center>
                </div>
            </div>
        </div>
        
        <br>
        <br>
        <br>
        <br>
        
        <div id="border">
            <h4> BREAKFAST CREPES </h4>
            <div class="row">
                <div class="column">
                    <center>
                    <h5> <center> Alisons Parfait </center> </h5>
                    <h6> <center> vanilla low-fat yogurt, bananas, strawberries, granola, toasted almonds, & a drizzle of honey </center></h6>
                    </center>
                </div>
                <div class="column">
                    <center>
                    <h5> <center> Blueberry </center> </h5>
                    <h6> <center> berry compote, fresh cream, & hand picked blueberries </center></h6>
                    </center>
                </div>
                <div class="column">
                    <center>
                    <h5> <center> Croque Madame </center> </h5>
                    <h6> <center> scrambled eggs, gruyère, smoked ham, & béchamel sauce </center></h6>
                    </center>
                </div>
            </div>
        
            <div class="row">
                <div class="column"> 
                    <center>
                    <h5> <center> Le Mexicain </center> </h5>
                    <h6> <center> scrambled eggs, queso fresco, refried beans, cumin, and cinnamon spiced carnitas, topped with chipotle sauce, crema, avocado, & cilantro </center></h6>
                    </center>
                </div>
                <div class="column">
                    <center>
                    <h5> <center> The Aggie </center> </h5>
                    <h6> <center> scrambled eggs, mozzarella, bacon, sausage, potatoes, & fresh jalapenos </center></h6>
                    </center>
                </div>
                <div class="column"> 
                    <center>
                    <h5> <center> Gingerbread </center> </h5>
                    <h6> <center> cinnamon, nutmeg, winter spices & gingerbread cookie crumbles topped with cream </center></h6>
                    </center>
                </div>
            </div>
        </div>
        
        <br>
        <br>
        <br>
        <br>
        
        <div id="border">
            <h4> SWEET CREPES </h4>
            <div class="row">
                <div class="column">
                    <center>
                    <h5> <center> Nutella </center> </h5>
                    <h6> <center> Nutella® with optional strawberries and/or bananas </center></h6>
                    </center>
                </div>
                <div class="column">
                    <center>
                    <h5> <center> Bonne Maman </center> </h5>
                    <h6> <center> spread of cherry, strawberry, redcurrant & raspberry preserves, with sweet cream </center></h6>
                    </center>
                </div>
                <div class="column">
                    <center>
                    <h5> <center> Dulce de Leche </center> </h5>
                    <h6> <center> dulce de leche sauce with optional strawberries and/or bananas </center></h6>
                    </center>
                </div>
            </div>
        
            <div class="row">
                <div class="column"> 
                    <center>
                    <h5> <center> Cookie Butter </center> </h5>
                    <h6> <center> cookie butter, sweet cream cheese, strawberries, coulis, & white chocolate chip morsels </center></h6>
                    </center>
                </div>
                <div class="column">
                    <center>
                    <h5> <center> Lemon & Sugar </center> </h5>
                    <h6> <center> fresh lemon, whipped butter, & vanilla bean sugar </center></h6>
                    </center>
                </div>
                <div class="column"> 
                    <center>
                    <h5> <center> Cinnamon </center> </h5>
                    <h6> <center> cinnamon, nutmeg, winter spices & gingerbread cookie crumbles topped with cream </center></h6>
                    </center>
                </div>
            </div>
        
            <div class="row">
                <div class="column"> 
                    <center>
                    <h5> <center> The 90103 </center> </h5>
                    <h6> <center> the group favorite: dark, milk, and white chocolate mousse topped with caramel & chocolate chips </center></h6>
                    </center>
                </div>
                <div class="column">
                    <center>
                    <h5> <center> The Honey </center> </h5>
                    <h6> <center> local honeycomb, whipped butter, & caramel sauce drizzled with fresh honey </center></h6>
                    </center>
                </div>
                <div class="column"> 
                    <center>
                    <h5> <center> Smores </center> </h5>
                    <h6> <center> milk chocolate, toasted marshmallow fluff, graham cracker crumble & chocolate drizzle </center></h6>
                    </center>
                </div>
            </div>
        </div>
        
        <br>
        <br>
        <br>
        <br>
        
        <div id="border">
            <h4> SAVORY CREPES </h4>
            <div class="row">
                <div class="column">
                    <center>
                    <h5> <center> Chicken Alfredo </center> </h5>
                    <h6> <center> grilled chicken, mushrooms, mozzarella, parmesan, & alfredo sauce </center></h6>
                    </center>
                </div>
                <div class="column">
                    <center>
                    <h5> <center> Ham and Gruyere </center> </h5>
                    <h6> <center> smoked ham, gruyère, dijon mustard, fresh oregano, & béchamel sauce </center></h6>
                    </center>
                </div>
                <div class="column">
                    <center>
                    <h5> <center> Nordic </center> </h5>
                    <h6> <center> smoked salmon, dill sour cream, capers, scallions, pickled red onions, & lemon </center></h6>
                    </center>
                </div>
            </div>
        
            <div class="row">
                <div class="column"> 
                    <center>
                    <h5> <center> Truffled Caprese </center> </h5>
                    <h6> <center> mozzarella, basil infused cherry tomatoes, & truffle oil </center></h6>
                    </center>
                </div>
                <div class="column">
                    <center>
                    <h5> <center> Turkey, Grapes, and Brie </center> </h5>
                    <h6> <center> turkey, french brie, red grapes, spring mix, walnuts, & dijon vinaigrette </center></h6>
                    </center>
                </div>
                <div class="column"> 
                    <center>
                    <h5> <center> The Vegan </center> </h5>
                    <h6> <center> portobello mushrooms, black bean purée, corn salsa, & chipotle sauce </center></h6>
                    </center>
                </div>
            </div>
        </div>
        
        <br>
        <br>
        <br>
        <br>
        
        <div id="border">
            <h4> DRINKS </h4>
            <div class="row">
                <div class="column">
                    <center>
                    <h5> <center> Spiced Chai Latte </center> </h5>
                    <h6> <center> traditional latte infused with chai and warm spices </center></h6>
                    </center>
                </div>
                <div class="column">
                    <center>
                    <h5> <center> Cappuccino </center> </h5>
                    <h6> <center> espresso topped with steamed milk available in flavors: vanilla, caramel, cinnamon & raspberry </center></h6>
                    </center>
                </div>
                <div class="column">
                    <center>
                    <h5> <center> Mocha </center> </h5>
                    <h6> <center> espresso & chocolate combined with sweet cream over foamed milk </center></h6>
                    </center>
                </div>
            </div>
        
            <div class="row">
                <div class="column"> 
                    <center>
                    <h5> <center> Hot Cocoa </center> </h5>
                    <h6> <center> traditional hot cocoa with sweetened milk & cocoa topped with whipped cream & chocolate sprinkles </center></h6>
                    </center>
                </div>
                <div class="column">
                    <center>
                    <h5> <center> Fountain Drink </center> </h5>
                    <h6> <center> your choice of any fountain drink (free refills) </center></h6>
                    </center>
                </div>
            </div>
        </div>
        
        <script src="index.js"></script>
    </body>
</html>
