<!DOCTYPE html>
<html lang="en-US"> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
        
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" -->
        <!-- integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">  -->
        <link rel="stylesheet" href="../landing.css">
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Bodoni Moda' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Beth Ellen' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Bacasime Antique' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Fuzzy Bubbles' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Bellota' rel='stylesheet'>
    </head>
    
    <body data-bs-theme="dark">
        <div class="home-screen">
            <div id="google_translate_element">
                <script  style="float: left;margin-top:-55px;" type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                }
                </script>
                <script  style="float: left;" type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            </div>
            <button type="button" onclick="toggleContrast()" style="float: left;">Refresh</button>
            <center>
            <div id="ul" style="padding: 0px 0px 0px 0px;margin-top: -50px;margin-bottom: -10px;">
                <li style="float:left; margin-left: -10px;"><a href="api/auth/google/redirect"><h3 style="font-size: 30px; margin-top: 10px;">Login</h3></a></li>
                <li style="float:left; margin-left: -1px;"><a href="/menu.ejs"><h3 style="font-size: 30px; margin-top: 10px;">Menu</h3></a></li>
                <li style="float:left; margin-left: -10px;"><a href="/customerorder.ejs"><h3 style="width: 10px; font-size: 30px; margin-top: 10px;">Order</h3></a></li>
                <li><a href="admin/admin.ejs"><h3 style="font-size: 30px; margin-top: 10px;">Admin</h3></a></li>
                <li><a href="manager_screen/manager_screen.ejs"><h3 style="font-size: 30px; margin-top: 10px;">Manager</h3></a></li>
                <li><a href="cashier/"><h3 style="font-size: 30px; margin-top: 10px;">Cashier</h3></a></li>
                <center>
                <h1 style="margin-left: 450px;"> <center>SWEET PARIS </center></h1>
                <h2 style="margin-left: 450px;"> <center>---- creperie & cafe ---- </center></h2>
                </center>
            </div>
            </center>
            <div id="currentuser"><center><h2 style="margin-top: 0px;font-size: 20px; color: black;;">Current User: <%= currentUser %> </h2> </center></div>
            
            <center>
            <div id="welcome">
                <h3 style="color: white; font-size: 35px; margin-bottom: 0px;"> <center> Bonjour! </center> </h3>
                <h1 style="font-size: 30px; margin-top: 0px;"> <center>Welcome to Sweet Paris Creperie & Cafe!</center></h1>
                <h6 style="width: 500px; font-size: 25px; margin-top: 0px; margin-bottom: 0px;"> <center>Here at Sweet Paris, we want to ensure that we provide each customer with the best service. Feel free to browse our menu, place and order, or log in for more.</center></h6>
                <br>
                <h6 style="font-style: italic; width: 500px; font-size: 25px; margin-top: 0px; margin-bottom: 0px;"> <center>Please contact us with any questions or concerns.</center></h6>
            </div>
            
            <div id="contact">
                <h3 style="color: white; font-size: 35px;"> <center> Contact Us: </center> </h3>
                <h6 style="font-size: 25px; margin-top: -20px; margin-bottom: 45px;"> <center>Email: <h1 style="font-size: 23px; margin-top: 0px;">info@sweetparis.com</h1> </center></h6>
                <h6 style="font-size: 25px; margin-top: -20px; margin-bottom: 45px;"> <center>Phone: <h1 style="font-size: 23px; margin-top: 0px;">(979) 704-6200</h1></center></h1>
                <h6 style="font-size: 25px; margin-top: -20px; margin-bottom: 0px;"> <center>Address: <h1 style="font-size: 23px; margin-top: 0px;">143 Century Square Dr Suite 110, College Station, TX 77840</h1></center></h1>
                
            </div>
            </center>
        </div>
        <script>
            function toggleContrast() {
                var element = document.body;
                element.classList.toggle("contrast-mode");

            } 
        </script>
    </body>
</html>