<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Manager View</title>
        <link rel="stylesheet" href="../landing.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>

    <body>
        <div class="modify-menu-delete-screen">
            <h1>Change Price of Menu Item</h1>
            <form method="post" action="/manager_screen/menu_mod_price">
            <label for="MenuItemName">Enter the menu item name:</label><br>
            <input type="text" id="MenuItemName" name="MenuItemName"><br>

            <label for="MenuItemPrice">Enter the new menu item price:</label><br>
            <input type="text" id="MenuItemPrice" name="MenuItemPrice"><br><br>

            <input type="submit" value="Submit">
            </form>
        </div>
        <script src="manager.js"></script>
    </body>

</html>
