<!DOCTYPE html>
<html> 
    <head>
        <title>Manager View</title>
        <link rel="stylesheet" type="text/css" href="manager_css.css" id="page_style"/>
    </head>
    <body>
        <a href="" class="button">Logout</a>
        <h1>Manager View</h1>
        <button type="button" onclick="refresh()">Refresh</button>
        <div class="option-buttons">
            <a href="modify_ingred.ejs"class="button">Modify Ingredients</a>
            <a href="modify_ingred.ejs"class="button">Modify Menu Items</a>
            <a href="manager-reports.ejs" class="button">Business Reports</a>
        </div>

        <div class="container">
            <h2>Inventory</h2>
            <p>Inventory that will be updated with the database</p>
            <% for (var i in inventory) {%>
            <p>Name: <%=inventory[i].ingred_name%>, Quantity: <%=inventory[i].quantity%><p>
            <% } %>
        </div>
        <script src="ManagerScript.js"></script>
    </body>
</html>